body {

h1{ text-align:center;
  margin-left: 110px;
  color:black;
  font-size: 40px;

}

button{
  font-family: Verdana;
  font-size: 40px;
  padding:25px 32px;
  margin: 175px ;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none ;
  border-radius: 7px ;
  transition: background-color 0.3s;;

}

button:hover {
  background-color:#0e3512;
}






}
