
<html >

  <head>

    <title>Cards Against Apples</title>
    <link rel="home.component.scss" href="home.component.html">
  </head>

  <body>

    <div class="container">
      <h1>CARDS AGAINST APPLES</h1>

      <div class="button-container">
        <a href="hostgame.component.html">
          <button type="button">Host Game</button>
        </a>

        <a href="joingame.component.html">
          <button type="button">Join Game</button>
        </a>
      </div>
    </div>

  </body>

</html>




<!--


<div class="flex-row">
<div button> </div>

<html>
  <head>
    <link rel ="home.component.scss" href="home.component.html">
  </head>

<body>
  <h1>CARDS AGAINST APPLES </h1>
<a href="hostgame.component.html">
  <button type="button">Host Game</button>
</a>

<a href="joingame.component.html">
  <button type="button" >Join Game</button>
</a>



</body>

  </html> -->





